version: "3.9"

services:
  web:
    build:
      context: ./backend
    container_name: spotify-now-playing
    env_file:
      - .env
    ports:
      - "8802:8802"
    volumes:
      - ./backend/public:/usr/src/app/public
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1
